* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}

/* ===============
Burger Navigation Menu
================== 
*/
.burgerNavigationMenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 1.2em;
}

#burgerIcon {
  color: #326273;
}

#closeIcon {
  z-index: 2;
  padding: 0.6em 0 1em 0.6em;
  color: #326273;
}

/*==================== 
Project Pane
=======================
*/
.projectsContainer {
  position: fixed;
  z-index: 1;
  top: 0;
  left: -50vw;
  padding-bottom: 2em;
  height: 100vh;
  width: 50vw;
  border-right: 0.5px solid #c4c4c4;
  background-color: #ffffff;

  /* Style the transition when clicking the burger or close icon */
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  -ms-transition: left 0.5s ease;
  -o-transition: left 0.5s ease;
  transition: left 0.5s ease;
}

/* Move the project container to the left when the burger or close icon is clicked */
.projectsContainer.expanded {
  left: 0;
}

/* Projects word */
.projectsContainer > p {
  padding: 2em;
  font-size: 1em;
  font-weight: bolder;
  text-transform: uppercase;
  color: #326273;
}

/* Project Name */
.projectList p {
  font-size: 1.2em;
  padding: 0.3em 2em;
  font-weight: bolder;
  color: #000000;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Make the list of projects scrollable when there are too many projects */
.projectListContainer {
  position: absolute;
  height: 60vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

#inputCreateProject {
  display: none;
  width: 100%;
  padding: 1em 0.2em 0.8em 3.6em;
  margin-bottom: 2em;
  border: none;
  outline: none;
  background: none;
  font-size: 0.8em;
  font-weight: bold;
  color: #000000;
}

/* Placeholder for inputCreateProject */
::placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
  color: #c4c4c4;
  opacity: 0.7;
  font-weight: lighter;
  font-size: 0.5em;
}

.createProjectButton {
  padding: 2em 2em;
  background: none;
  border: none;
  outline: none;
  color: #e39774;
  font: 0.7em 'Open Sans', sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
}

/*====================
Tasks Pane
======================
*/

.taskPaneContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.projectNameContainer {
  width: 90%;
  margin: 6em 1em 0 1.2em;
  display: none;
  align-items: center;
  justify-content: space-between;
}

.projectNameContainer i {
  color: #c4c4c4;
  margin-left: 0.5em;
}

.projectName {
  font: 3em 'Ubuntu', sans-serif;
  font-weight: bolder;
  color: #326273;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
}

#editProjectNameInput {
  display: none;
  border: none;
  outline: none;
  width: 100%;
  font: 3em 'Ubuntu', sans-serif;
  font-weight: bolder;
  color: #326273;
  text-transform: uppercase;
}

/*Tasks*/
.taskList {
  width: 100%;
  margin-top: 3em;
  font-size: 0.75em;
}

.noTaskImgContainer {
  display: none;
  background: url('images/NoTasks.png') no-repeat center center/contain;
  height: 50vh;
  width: 100%;
}

.noProjectImgContainer {
  display: none;
  margin: auto;
  background: url('images/NoProjects.png') no-repeat center center/contain;
  height: 20em;
  width: 100%;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 1.5em;
  border-top: 0.5px solid #c4c4c4;
}

.task:last-of-type {
  border-bottom: 0.5px solid #c4c4c4;
}

.taskDetailsContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.taskDetails {
  width: 60vw;
  margin-left: 2em;
}

.taskStatus {
  outline: none;
  border: none;
  height: 2em;
  width: 1.5em;
}

.taskName {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.7em;
}

.dateDue {
  color: #5c9ead;
}

#deleteTaskIcon {
  padding-left: 1em;
  color: #c4c4c4;
}

.addTaskButton {
  display: none;
  background: none;
  padding: 2em 7.5vw;
  border: none;
  outline: none;
  margin: auto;
  font-size: 0.8em;
  font-weight: bolder;
  text-transform: uppercase;
  color: #e39774;
}

/*==============
Add Task Form
================
*/

.addTaskFormContainer,
.warningPopupContainer {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background: rgba(238, 238, 238, 0.6);
}

.addTaskFormContainer form {
  width: 90vw;
  padding: 1.2em;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

ul {
  list-style-type: none;
}

li {
  padding: 0.4em;
}

li input {
  width: 100%;
  padding: 0.5em;
  outline: none;
  border: none;
  border-bottom: 1px solid #c4c4c4;
  font-family: 'Open Sans', sans-serif;
  color: #326273;
}

label {
  display: block;
  padding-bottom: 0.5em;
  font: bolder 'Ubuntu', sans-serif;
  color: #326273;
  text-transform: uppercase;
}

#dateDue {
  background: none;
}

select {
  width: 100%;
  padding: 0.5em;
  outline: none;
  border: 0.5px solid #c4c4c4;
  color: #326273;
  background: none;
}

textarea {
  width: 100%;
  padding: 0.5em;
  outline: none;
  border: 1px solid #c4c4c4;
  font-family: 'Open Sans', sans-serif;
  color: #326273;
}

.addTaskButtonContainer {
  text-align: right;
  margin: 0.8em;
}

.cancelButton {
  margin-right: 1.5em;
  border: none;
  outline: none;
  color: #5c9ead;
  font-weight: bold;
  text-transform: uppercase;
  background: none;
}

.addButton,
.editButton {
  display: none;
  width: 6em;
  padding: 1em;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #e39774;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

/*================
Warning Message
=================
*/

.warningPopup {
  width: 80vw;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.warningTitle {
  padding: 0.6em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #dd4641;
  font-size: 1em;
  color: #ffffff;
}

.warningText {
  padding: 1em;
  text-align: center;
}

.warningButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.warningButtons button {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5em;
  border-top: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  font-size: 1em;
}

.noButton {
  color: #326273;
  font-weight: bolder;
}

.yesButton {
  color: #dd4641;
  font-weight: bold;
}

/* HOVER */
.projectList p,
.createProjectButton,
.addTaskButton,
.cancelButton,
.editButton,
.addButton,
i,
.projectList p,
.taskStatus,
.taskName {
  cursor: pointer;
}

.createProjectButton:hover,
.addTaskButton:hover {
  color: #5c9ead;
}

.editButton:hover,
.addButton:hover {
  background: #5c9ead;
}

.cancelButton:hover {
  color: #c4c4c4;
}

#editProjectNameIcon:hover {
  color: #5c9ead;
}

#deleteProjectIcon:hover,
#deleteTaskIcon:hover {
  color: #dd4641;
}

.projectList p:hover {
  color: #5c9ead;
}

.taskName:hover,
.taskName:focus,
.taskName:active {
  text-decoration: underline;
}

@media screen and (max-width: 321px) {
  .projectsContainer {
    left: -60vw;
    width: 60vw;
  }
}

@media screen and (min-width: 480px) {
  .parentContainer {
    display: flex;
    height: 100vh;
    width: 100%;
  }

  /* PROJECT PANE */
  .burgerNavigationMenu {
    display: none;
  }

  #closeIcon {
    visibility: hidden;
  }

  .projectsContainer {
    position: static;
    left: 0vw;
    width: 30vw;
    height: 100%;
    z-index: 0;
  }

  .projectListContainer {
    width: inherit;
  }

  #inputCreateProject {
    padding-left: 3em;
  }

  /* TASK PANE */
  .projectNameContainer {
    margin-top: 5.2em;
  }

  .taskPaneContainer {
    width: 70vw;
    justify-content: flex-start;
  }

  .taskDetails {
    width: inherit;
  }

  .addTaskFormContainer form {
    width: 65vw;
  }

  .addTaskButton {
    margin: 0;
  }

  /* Warning Message */
  .warningPopup {
    width: 50vw;
  }
}

@media screen and (min-width: 1024px) {
  

  /* Project Pane */
  .projectsContainer {
    width: 15vw;
  }

  /* Task Pane */
  .taskPaneContainer {
    width: 60vw;
  }

  .task:hover {
    background-color: #c4c4c43b;
    border-radius: 5px;
  }

  .projectNameContainer {
    width: 100%;
    margin: 4em 0 0 0;
    padding: 1em 2em;
    border-bottom: 0.5px solid #c4c4c441;
  }

  .noProjectImgContainer {
    width: 40vw;
  }

  .taskList {
    width: 90%;
    margin: 3em 2em 0 2em;
  }

  .task {
    border-top: none;
    border-bottom: 0.5px solid #c4c4c4;
  }

  .task:last-of-type {
    border-bottom: none;
  }

  /* Add Task Form */
  .addTaskFormContainer {
    display: none;
    z-index: 0;
    left: 75vw;
    height: 100vh;
    width: 25vw;
    background: none;
  }

  .addTaskFormContainer form {
    width: 25vw;
    height: 100vh;
    padding: 6em 1.5em;
    box-shadow: none;
    border-radius: 0;
  }

  /* Warning Message */
  .warningPopup {
    width: 30vw;
  }
}
